:root {
  --primary-color: #804b86c2;
  --box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  --background: rgb(138, 113, 113);
  --profile-color: #b592ce;
  --socials-color: #9374a5a7;
}
span {
  color: rgb(52, 55, 59);
  color: var(--profile-color);
}

strong {
  color: var(--profile-color);
}
.h3 {
  color: #23202c;
}
.social-links,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-family: "Madimi One", sans-serif;
}

P {
  line-height: 30px;
  font-family: "Madimi One", sans-serif;
  font-size: 15px;
}

.socials {
  color: blueviolet;
  border: 1px solid #f9f7;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 20px;
}

.fitness {
  color: blueviolet;
  border: 1px solid #f9f7;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 25px;
}

.manifest {
  color: blueviolet;
  border: 1px solid #f9f7;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 25px;
}
.forecast {
  color: blueviolet;
  border: 1px solid #f9f7;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 25px;
}
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  padding-right: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  color: rgb(251, 221, 251);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #23202c;
}

.My Logo {
  position: relative;
  font-size: 25px;
  color: rgb(248, 230, 247);
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}

.navbar a {
  position: relative;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 700;
  margin-left: 30px;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  background-color: #23202c;
  padding: 70px 50px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(235, 235, 255);
}
h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 5px;
  color: white;
}

#details {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background: var(--background);
}
.image-container {
  position: relative;
  margin-top: 0px;
  right: 20%;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-color: rgb(201, 113, 49);
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 900px) {
  .project {
    padding: 0;
    text-align: center;
  }
}
